html {
	--brand-green: hsl(162, 87%, 21%);
	--dark-green: hsl(162, 88%, 30%);
	--medium-green: hsl(162, 73%, 46%);
	--text-color: hsl(210, 11%, 15%);
	--gray: hsl(210, 7%, 56%);
	--light-gray: hsl(210, 17%, 95%);
	--extra-light-gray: hsl(210, 17%, 98%);
	--white: hsl(0, 0%, 100%);
	--red: hsl(342, 63%, 46%);

	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: var(--extra-light-gray);
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.4;
	color: var(--text-color);
}

h1, h2, h3, h4 {
	font-family: "Georgia", serif;
}

p {
	margin: 1.5em 0;
}

a {
	color: var(--medium-green);
}
/*
a:visited {
	color: var(--brand-green);
}
*/
a:hover {
	color: var(--brand-green);
}

a:active {
	color: var(--red);
}

/* .page-nav */
.page-nav {
	background-color: var(--medium-green);
}

.page-nav__inner {
	display: flex;
	justify-content: space-between;
	padding: 0.625em 0;
}

.home-link {
	font-family: "Georgia", serif;
	font-weight: bold;
	font-size: 1.5rem;
	color: var(--text-color);
	text-decoration: none;
}

/* .top-nav */
.top-nav {
	display: flex;
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.top-nav li + li {
	margin-left: 0.625em;
}

.top-nav a {
	display: block;
	padding: 0.3em 1.25em;
	border-radius: 0.25em;
	background-color: var(--brand-green);
	color: var(--white);
	text-decoration: none;
}

.top-nav a:hover {
	background-color: var(--dark-green);
}

.top-nav__featured > a {
	background-color: var(--white);
	color: var(--brand-green);
}

.top-nav__featured > a:hover {
	background-color: var(--white);
	color: var(--medium-green);
}

.dropdown__toggle {
	display: none;
}

@media (max-width: 40em) {
	.top-nav li + li {
		border-top: 1px solid var(--white);
		margin-left: 0;
	}

	.top-nav a {
		padding: 0.75em 1.25em;
		border-radius: 0;
	}

	/* .dropdown */
	.dropdown {
		position: relative;
	}

	/* .dropdown__toggle */
	.dropdown__toggle {
		display: block;
		position: absolute;
		top: 0.25em;
		right: 0;
		width: 1em;
		height: 1em;
		border: 0;
		background-color: transparent;
		text-indent: 5em;
		overflow: hidden;
		font-size: 2.25em;
	}

	.dropdown__toggle:focus {
		outline: none;
	}

	.dropdown__toggle::after {
		content: "";
		position: absolute;
		top: calc(50% - 0.15em);
		left: calc(50% - 0.3em);
		border: 0.3em solid;
		border-color: var(--brand-green) transparent transparent transparent;
		font-size: 0.75em;
	}

	.dropdown.is-open > .dropdown__toggle::after {
		top: calc(50% - 0.45em);
		border-color: transparent transparent var(--brand-green) transparent;
	}

	/* .dropdown__drawer */
	.dropdown__drawer,
	.dropdown__drawer--static {
		display: none;
	}

	.dropdown__drawer--static {
		position: relative;
	}

	.dropdown__drawer {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
	}

	.dropdown.is-open > .dropdown__drawer,
	.dropdown.is-open > .dropdown__drawer--static {
		display: block;
	}
}

/* .hero */
.hero {
	margin-bottom: 2.5em;
	background-image: url("../img/collaboration.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.hero__inner {
	padding: 5.55em 0 12.5em;
	text-align: center;
}

.hero__inner h2 {
	margin-top: 0;
	margin-bottom: 0.625rem;
	font-size: 1.95rem;
}

@media (max-width: 50em) {
	.hero__inner h2 {
		font-size: 1.75rem;
	}
}

@media (max-width: 35em) {
	.hero__inner h2 {
		font-size: 1.5rem;
	}
}

/* .button */
.button {
	display: inline-block;
	padding: 0.5em 1em;
	border: 2px solid var(--brand-green);
	border-radius: 0.25em;
	color: var(--brand-green);
	text-decoration: none;
}

.button:hover {
	background-color: var(--dark-green);
	color: var(--white);
}

.button-cta {
	padding: 0.75em 1.5em;
	border: none;
	background-color: var(--brand-green);
	color: var(--white);
}

/* .container */
.container {
	max-width: 1080px;
	margin: 0 auto;
}

@media (max-width: 70em) {
	.container {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}

.tile-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.5em;
}

@media (max-width: 50em) {
	.tile-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 35em) {
	.tile-grid {
		grid-template-columns: 1fr;
	}
}

.tile {
	padding: 1.5em;
	border-radius: 0.25em;
	background-color: var(--white);
}

.tile > :first-child {
	margin-top: 0;
}

.tile h4 {
	margin-bottom: 1.5em;
}

.tag-list {
	margin: 1.5em 0;
	padding-left: 0;
	list-style-type: none;
}

.tag-list li {
	display: inline;
	padding: 0.3em;
	border-radius: 0.25em;
	background-color: var(--light-gray);
	font-size: 0.8em;
	white-space: nowrap;
	line-height: 2.25;		
}

/* .page-footer */
.page-footer {
	margin-top: 3em;
	padding: 1em 0;
	background-color: var(--light-gray);
}

.page-footer__inner {
	text-align: center;
	color: var(--gray);
}